# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.VR Opdracht 4 Basketbal.iml
# Datasource local storage ignored files
/../../../../../../../../:\School\Jaar 2\VAR\VR Opdracht 4 Basketbal\.idea\.idea.VR Opdracht 4 Basketbal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
